/* Icon Styles */
.icons-stroke:hover path {
    stroke: red;
}

.icons-fill:hover path {
    fill: red
}

/* Card Styles */
.zoom-image {
    max-width: 100%;
    max-height: 100%;
}

@keyframes zoom-in {
    0% {
        transform: scale(1);
    }

    100% {
        transform: scale(1.1);
    }
}

@keyframes zoom-out {
    0% {
        transform: scale(1.1);
    }

    100% {
        transform: scale(1);
    }
}

.zoom-in {
    animation: zoom-in 1s ease-in-out forwards;
}

.zoom-out {
    animation: zoom-out 1s ease-in-out forwards;
}